{{#each arrayProductos}}
<div>
    <h3>Nombre: {{this.nombre}} </h3>
    <p>Descripcion: {{this.descripcion}}</p>
    <p>Precios {{this.precio}}</p>
    <button>Sumar al carrito</button>
</div>
{{/each}}